
.face {
    position: relative;
    z-index: 1;
    display: flex;
    padding-bottom: 135px;
}

.face__box {
    flex: 1 0 0;
}

.face__logo {
    display: inline-block;
    border-radius: 3px;
    padding: 5px 10px 2px 10px;
    margin-bottom: 45px;
    font-size: 25px;
    font-weight: 700;
    font-family: 'SpectralSC', serif;
    color: #cac284;
    background-color: #372f1e;
}

.face__title {
    margin-bottom: 60px;
    font-size: 67px;
    color: #cac284;
    line-height: 1;
    font-weight: 700;
    font-family: 'SpectralSC', serif;
}

.face__list {
    & > div {
        display: flex;
        align-items: center;
        position: relative;
        width: 300px;
        height: 120px;
        padding-left: 145px;
        font-size: 21px;
        color: #fff;
        background-size: auto 170px;
        background-position: -30px center;

        b {
            font-weight: 500;
            color: #d1c350;
        }

        & + div {
            margin-top: 18px;
        }

        &:nth-child(1) {
            background-image: url("../media/face/icon-1.png");
        }

        &:nth-child(2) {
            background-image: url("../media/face/icon-2.png");
        }

        &:nth-child(3) {
            background-image: url("../media/face/icon-3.png");
        }
    }
}

.face__sun {
    position: absolute;
    top: -11px;
    margin-left: -196px;
    left: 50%;
    width: 965px;
    height: 760px;
    background-image: url("../media/face/sun.png");
    background-repeat: no-repeat;
    animation: face 4s linear infinite;
}

@media (max-width: 1280px) {
    .face {
        flex-direction: column;
        padding-bottom: 0;
    }

    .face__box {
        &:last-child {
            margin-top: 350px;
        }
    }

    .face__list {
        display: flex;
        flex-wrap: wrap;
    }

    .face__list {
        & > div {
            width: 50%;
            margin-bottom: 20px;
            background-position: -20px center;

            & + div {
                margin-top: 0;
            }
        }
    }

    .face__sun {
        top: 95px;
    }
}

@media (max-width: 768px) {
    .face__title {
        font-size: 62px;
        margin-bottom: 30px;
    }

    .face__list {
        & > div {
            height: auto;
            width: 33.333%;
            padding-left: 0;
            padding-top: 130px;
            background-position: center -20px;
            text-align: center;
        }
    }

    .face__box:last-child {
        margin-top: 480px;
    }

    .face__sun {
        top: 125px;
    }
}

@media (max-width: 480px) {
    .face__title {
        text-align: center;
        margin-bottom: 15px;
        font-size: 40px;
    }

    .face__box {
        text-align: center;

        &:first-child {
            margin-bottom: 30px;
        }

        &:last-child {
            margin-top: 0;
        }
    }

    .face__logo {
        margin-bottom: 15px;
    }

    .face__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: left;
        margin-top: 250px;
        padding-top: 60px;

        & > div {
            padding-right: 10px;
            padding-left: 10px;
            padding-top: 100px;
            font-size: 14px;
            background-size: auto 130px;
        }
    }

    .face__sun {
        height: 163px;
        top: 121px;
        margin-left: 0;
        transform: translateX(-1);
        background-size: contain;
        max-width: 200px;
    }
}

@keyframes face {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
